*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: whitesmoke;
    color: azure;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
    font-feature-settings: normal;
}
section{
    display: flex;
    height: 100vh;
    width: 100vw;
}
a{
    text-decoration: none;
}
/** old code

.nav_bar{
    width: 100%;
    height: 40px;
    padding: 0.5% 0% 0.5% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #b8b8b8;
}
.logo{
    width: 5%;
}
.links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.link_items{
    color: azure;
    width: 20%;
    padding: 1%;
    text-align: center;
}
.link_items:hover{
    background-color: #404040;
    filter: brightness(200%);
}
.contact{
    width: 15%;
    background-color: #404040;
    border: none;
    font-size: large;
}
.contact:hover{
    filter: brightness(200%);
}
.contact_link{
    color: azure;
}

**/

.sideNav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100%;
    background-color: rgb(137, 138, 138);
}

.selfIntro{
    text-align: center;
}
.intro{
    width: 80%;
    margin: auto;
    font-size: smaller;
}

.profile{
    width: 10em;
    height: 10em;
    margin: auto;
    border-radius: 100%;
}

.social_links{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 15px;
}

.link{
    width: 20px;
    filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(312deg) brightness(107%) contrast(107%);
}
.link:hover{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
    transition: 0.3s;
}
.options{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
}
.linx{
    color: white;
}
.linx:hover{
    color: black;
    transition: 0.5s;
}
.hire{
    width: 50%;
    height: 35px;
    margin: auto;
    border-radius: 25px;
    border: solid black;
    background-color: transparent;
    font-weight: bold;
}
.hire:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

/* The main area*/
main{
    color: black;
    width: 80%;
    overflow-y: scroll;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8em;
}
.introduction{
    width: 55%;
}
.in-intro{
    color: #334455;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}
h3{
    padding: 0.1em;
    margin: 0;
    font-size: x-large;
    font-weight: 200;

}
.in-introduction{
    font-size: 16px;
    font-weight: 300;
    color: grey;

}
.buttonz{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 2em;
}
.btns{
    width: 48%;
    margin: auto;
    border-radius: 45px;
    border: solid black;
    background-color: transparent;
    padding: 0.5em;
    font-size: large;
    font-weight: 400;
}
.btns:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.jumbo{
    width: 300px;
    height: 300px;
    box-shadow: 0px 1px 5px black;
}
/*The horizontal rule*/
hr{
    border: solid 1px lightgray;
    margin-top: 7em;
}

/*The skills Area*/

.skills-section{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skillBox{
    width: 30%;
    float: left;
    margin: 1em;
}

.skillName{
    color: #334455;
    font-family: "Poppins", Sans-serif;
    font-size: large;
    font-weight: 800;
}

.skillDescription{
    font-size: 12px;
    color: grey;
}