body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: whitesmoke;
    color: azure;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
    font-feature-settings: normal;
}
section{
    display: flex;
    height: 100vh;
    width: 100vw;
}
a{
    text-decoration: none;
}
/** old code

.nav_bar{
    width: 100%;
    height: 40px;
    padding: 0.5% 0% 0.5% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #b8b8b8;
}
.logo{
    width: 5%;
}
.links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.link_items{
    color: azure;
    width: 20%;
    padding: 1%;
    text-align: center;
}
.link_items:hover{
    background-color: #404040;
    filter: brightness(200%);
}
.contact{
    width: 15%;
    background-color: #404040;
    border: none;
    font-size: large;
}
.contact:hover{
    filter: brightness(200%);
}
.contact_link{
    color: azure;
}

**/

.sideNav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100%;
    background-color: rgb(190, 192, 192);
}

.selfIntro{
    text-align: center;
}
.intro{
    width: 80%;
    margin: auto;
    font-size: smaller;
}

.profile{
    width: 10em;
    height: 10em;
    margin: auto;
    border-radius: 100%;
}

.social_links{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 15px;
}

.link{
    width: 25px;
    fill: white;
}

.options{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
}
.linx{
    color: white;
}
.linx:hover{
    color: black;
    transition: 0.5s;
}
.hire{
    width: 50%;
    height: 35px;
    margin: auto;
    border-radius: 25px;
    border: solid black;
    background-color: transparent;
    font-weight: bold;
}
.hire:hover{
    border: solid white;
    color: white;
    transition: 0.5s;
}

/* The main area*/
main{
    color: black;
    width: 80%;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8em;
}
.introduction{
    width: 55%;
}
.in-intro{
    font-size: 50px;
    font-weight: 1200;
    color: rgb(51, 51, 63);
    padding: 0;
    margin: 0;
}
h3{
    padding: 0.1em;
    margin: 0;
    font-size: x-large;
    font-weight: 200;

}
.in-introduction{
    font-size: 15px;
    font-weight: 200;

}
.jumbo{
    width: 320px;
    height: 320px;
    box-shadow: 0px 1px 5px black;
}